.main {
  text-align: center;

  .pixi-container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center
  }

  .input-container {
    display: inline-flex;
    width: 800px;
    white-space: nowrap;
    align-content: center;
    align-items: center;

    input {
      margin: 0 20px;
    }
  }
}
