.main {
  text-align: center;

  .pixi-container {
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
  }

  .input-container {
    display: inline-flex;
    width: 800px;
    white-space: nowrap;
    align-content: center;
    align-items: center;

    input {
      margin: 0 20px;
    }

    button {
      margin: 0;
    }
  }

  .error, desc {
    margin: 30px auto;
    width: 500px;
    display: block;
  }

  .error {
    color: #ee2222;
  }

  .footer {
    margin-top: 100px;
  }
}
